* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0em;
    background: #000;
}

.headline {
    font-size: 3.0em;
    font-weight: bold;
}

.b-head {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-text {
    font-size: 1.0em;
    line-height: 1.3;
    color: #ddd;
}

.body-copy {
    font-size: 1.0em;
    line-height: 1.3;
    color: #ddd;
}

.byline {
    font-size: 0.75em;
    color: #ddd;
}